*{
    margin:0;
    padding:0;
}

body *{
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 1125px;
    min-height: 2436px;
}

#navigation-bar{
    background-color: black;
    border-bottom: solid 1px #eef0e0;
    position: fixed;
    width: 100vw;
    height: 100px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 30px;
    display: flex;
    align-items: center;
    top:0;
}

#navbar-image-box{
    height: 80%
}

#navbar-image-logo{
    height: 100%;
}

#logo-div{
    margin-top: 150px;
    display: inline-block;
}

.box{
    border: solid 1px #eef0e0;
    margin-top: 20px;
    margin-left: 25%;
    height: 200px;
    width: 50%;
}