*{
    margin:0;
    padding:0;
}

body *{
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

#navigation-bar{
    background-color: black;
    border-bottom: solid 1px #eef0e0;
    position: fixed;
    width: 100vw;
    height: 87px;
    padding-left: 5px;
    display: flex;
    align-items: center;
    top:0;
}

#navbar-image-box{
    height: 85%
}

#navbar-image-logo{
    height: 100%;
}

#logo-div{
    margin-top: 150px;
    height: 200px;
}

#image-logo{
    height: 100%;
    border-radius: 50%;
    border: solid 2px #eef0e0;
}

#name-div{
    color: #eef0e0;
    font-size: 30px;
}

#button-div{
    margin-top: 50px;
    display: flex;
    flex-direction: column;


}

.box{
    border: solid 0px #eef0e0;
    margin-left: calc(50% - 300px);
    margin-top: 20px;
    width: 600px;
    display: flex;
    justify-content: center;
}

.button{
    width: 100%;
    height: 70px;
    border-radius: 40px;
    border: solid 1px #eef0e0;
    cursor: pointer;
    text-decoration: none;
    margin-top: 10px;
}

.button-content-div{
    height: 100%;
    width: 100%;
    color: #eef0e0;
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 0.7px;
    border: solid 0px red;
    display: flex;
    padding-left: 23px;
    padding-right: 23px;
    justify-content: space-between;
    align-items: center;
}

.icon{
    height: 60%;
}

.button:hover{
    color: #212121;
    border-color: #888;
    outline: #eef0e0 solid 2px;
}

.button:hover .icon{
    filter:brightness(350%) contrast(350%);
}

.button:active{
    color: #212121;
    border-color: #888;
    outline: #eef0e0 solid 2px;
}

.button:active .icon{
    filter:brightness(350%) contrast(350%);
}


@media only screen and (max-width: 750px) {
    .box{
        width: 80%;
        margin-left: 10%;
        margin-top: 2.666667vw;
    }
    #navigation-bar{
        height: 11.682243vw;
    }
    #logo-div{
        margin-top: 20vw;
        height: 26.666667vw;
    }
    #name-div{
        font-size: 4vw;
    }
    #button-div{
        margin-top: 6.666667vw;
    }
    .button{
        height: 10vw;
    }
    .button-content-div{
        padding-left: 3vw;
        padding-right: 3vw;
        font-size: 3.3333333vw;
    }
}